### In this toturial I applied several ML algorithms to data set to determine if a project would be successful or not. 
---
The codes resources were provided at the end of this toturial. 
I think everyone can easily find the tools online and just arrange for them to achieve their desired goal. 
In this work, You will go through following steps.

1. Missed values
2. Adding a new column to data
3. Delete some useless columns
4. Visualization
5. Parameters Featuring and Transforming (Dealing with those parameters that are an object not digit)
6. Splitting data (train, validate and test)
7. Fitting ML models (Random Forest, Logistic Regression, Decision Tree, Gaussian, Linear SVC)
8. Accuracy, Precision, Sensitivity or Recall, F1 score concepts
9. Evaluating Model Performances
10. Saving your model
11. Uploading your model and how to apply it to other data

### Import libraries
---

In [13]:
import numpy as np 
import pandas as pd 
import seaborn as sns
from matplotlib import pyplot as plt

import matplotlib as mp
%matplotlib inline
import scipy.stats as st
from sklearn import ensemble, tree, linear_model
import missingno as msno

In [12]:
# !pip install missingno

### Load the data
---

In [7]:
data = pd.read_csv("data.csv")
data.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

Check out the shape of data.

In [9]:
print(data.shape)

(378661, 15)

As it is seen, the data includes almost 400K rows and 15 columns.

What are the data column names?

In [18]:
print(data.keys())

Index(['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'state', 'backers', 'country',
       'usd pledged', 'usd_pledged_real', 'usd_goal_real'],
      dtype='object')

Lets see what columns types are number

In [14]:
numeric_features = data.select_dtypes(include=[np.number])
print(numeric_features.columns)

Index(['ID', 'goal', 'pledged', 'backers', 'usd pledged', 'usd_pledged_real',
       'usd_goal_real'],
      dtype='object')

And see those columns that type is categorical

In [15]:
categorical_features = data.select_dtypes(include=[np.object])
print(categorical_features.columns)

Index(['name', 'category', 'main_category', 'currency', 'deadline', 'launched',
       'state', 'country'],
      dtype='object')

### EDA
---

In [17]:
print(data.describe())

                 ID          goal       pledged        backers   usd pledged  \
count  3.786610e+05  3.786610e+05  3.786610e+05  378661.000000  3.748640e+05
mean   1.074731e+09  4.908079e+04  9.682979e+03     105.617476  7.036729e+03
std    6.190862e+08  1.183391e+06  9.563601e+04     907.185035  7.863975e+04
min    5.971000e+03  1.000000e-02  0.000000e+00       0.000000  0.000000e+00
25%    5.382635e+08  2.000000e+03  3.000000e+01       2.000000  1.698000e+01
50%    1.075276e+09  5.200000e+03  6.200000e+02      12.000000  3.947200e+02
75%    1.610149e+09  1.600000e+04  4.076000e+03      56.000000  3.034090e+03
max    2.147476e+09  1.000000e+08  2.033899e+07  219382.000000  2.033899e+07

       usd_pledged_real  usd_goal_real
count      3.786610e+05   3.786610e+05
mean       9.058924e+03   4.545440e+04
std        9.097334e+04   1.152950e+06
min        0.000000e+00   1.000000e-02
25%        3.100000e+01   2.000000e+03
50%        6.243300e+02   5.500000e+03
75%        4.050000e+03   1.550000e+04
max        2.033899e+07   1.663614e+08

### Dealing with NaN Values
See if there are null/ missing/NaN in data.

In [19]:
def null_table(data):
    print("Training Data Frame")
    print(pd.isnull(data).sum()) 
    print(" ")
    
null_table(data)

Training Data Frame
ID                     0
name                   4
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64

The name of project and the ID do not affect a project final results (successful or not successful). 
In addition, the currency should be taken out of data becasue the pledges were provided in USD.

Drop name and project ID.

In [20]:
data.drop(labels = ["ID","name"], axis = 1, inplace = True)

And double check the data and see the null_table

In [21]:
null_table(data)

Training Data Frame
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64

As it is observed in the **usd_pledged** there are about 4K null/nan rows. Lets drop those rows that missed.

In [22]:
data = data[np.isfinite(data['usd pledged'])]
print(null_table(data))

Training Data Frame
category            0
main_category       0
currency            0
deadline            0
goal                0
launched            0
pledged             0
state               0
backers             0
country             0
usd pledged         0
usd_pledged_real    0
usd_goal_real       0
dtype: int64

None

---
Ignore columns including **launched** and **dedline** and **currency**.

The diff.csv file was uploaded and columns including 'launched' and 'deadline' and currency' were deleted. 
The data2 is turned to data3 now with a new diff column (without launched, currency, and deadline columns).

In [24]:
data.drop(labels = ["deadline","launched","currency"], axis = 1, inplace = True)

,category,main_category,goal,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,Poetry,Publishing,1000.0,0.0,failed,0,GB,0.0,0.0,1533.95
1,Narrative Film,Film & Video,30000.0,2421.0,failed,15,US,100.0,2421.0,30000.00
2,Narrative Film,Film & Video,45000.0,220.0,failed,3,US,220.0,220.0,45000.00
3,Music,Music,5000.0,1.0,failed,1,US,1.0,1.0,5000.00
4,Film & Video,Film & Video,19500.0,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [26]:
data.head()

,category,main_category,goal,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,Poetry,Publishing,1000.0,0.0,failed,0,GB,0.0,0.0,1533.95
1,Narrative Film,Film & Video,30000.0,2421.0,failed,15,US,100.0,2421.0,30000.00
2,Narrative Film,Film & Video,45000.0,220.0,failed,3,US,220.0,220.0,45000.00
3,Music,Music,5000.0,1.0,failed,1,US,1.0,1.0,5000.00
4,Film & Video,Film & Video,19500.0,1283.0,canceled,14,US,1283.0,1283.0,19500.00

Subtract columns **launched** and **deadline** to find out how much time was available for each project. Lets call the new column **number of days**.