### In this toturial I applied several ML algorithms to data set to determine if a project would be successful or not. 
---
The codes resources were provided at the end of this toturial. 
I think everyone can easily find the tools online and just arrange for them to achieve their desired goal. 
In this work, You will go through following steps.

1. Missed values
2. Adding a new column to data
3. Delete some useless columns
4. Visualization
5. Parameters Featuring and Transforming (Dealing with those parameters that are an object not digit)
6. Splitting data (train, validate and test)
7. Fitting ML models (Random Forest, Logistic Regression, Decision Tree, Gaussian, Linear SVC)
8. Accuracy, Precision, Sensitivity or Recall, F1 score concepts
9. Evaluating Model Performances
10. Saving your model
11. Uploading your model and how to apply it to other data

### Import libraries
---

In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
from matplotlib import pyplot as plt

import matplotlib as mp
%matplotlib inline
import scipy.stats as st
from sklearn import ensemble, tree, linear_model
import missingno as msno

In [2]:
# !pip install missingno

### Load the data
---

In [3]:
data = pd.read_csv("data.csv")
data.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

Check out the shape of data.

In [4]:
print(data.shape)

(378661, 15)

As it is seen, the data includes almost 400K rows and 15 columns.

What are the data column names?

In [5]:
print(data.keys())

Index(['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'state', 'backers', 'country',
       'usd pledged', 'usd_pledged_real', 'usd_goal_real'],
      dtype='object')

Lets see what columns types are number

In [6]:
numeric_features = data.select_dtypes(include=[np.number])
print(numeric_features.columns)

Index(['ID', 'goal', 'pledged', 'backers', 'usd pledged', 'usd_pledged_real',
       'usd_goal_real'],
      dtype='object')

And see those columns that type is categorical

In [7]:
categorical_features = data.select_dtypes(include=[np.object])
print(categorical_features.columns)

Index(['name', 'category', 'main_category', 'currency', 'deadline', 'launched',
       'state', 'country'],
      dtype='object')

### Data Cleaning
---

In [8]:
print(data.describe())

                 ID          goal       pledged        backers   usd pledged  \
count  3.786610e+05  3.786610e+05  3.786610e+05  378661.000000  3.748640e+05
mean   1.074731e+09  4.908079e+04  9.682979e+03     105.617476  7.036729e+03
std    6.190862e+08  1.183391e+06  9.563601e+04     907.185035  7.863975e+04
min    5.971000e+03  1.000000e-02  0.000000e+00       0.000000  0.000000e+00
25%    5.382635e+08  2.000000e+03  3.000000e+01       2.000000  1.698000e+01
50%    1.075276e+09  5.200000e+03  6.200000e+02      12.000000  3.947200e+02
75%    1.610149e+09  1.600000e+04  4.076000e+03      56.000000  3.034090e+03
max    2.147476e+09  1.000000e+08  2.033899e+07  219382.000000  2.033899e+07

       usd_pledged_real  usd_goal_real
count      3.786610e+05   3.786610e+05
mean       9.058924e+03   4.545440e+04
std        9.097334e+04   1.152950e+06
min        0.000000e+00   1.000000e-02
25%        3.100000e+01   2.000000e+03
50%        6.243300e+02   5.500000e+03
75%        4.050000e+03   1.550000e+04
max        2.033899e+07   1.663614e+08

### Dealing with NaN Values
See if there are null/ missing/NaN in data.

In [9]:
def null_table(data):
    print("Training Data Frame")
    print(pd.isnull(data).sum()) 
    print(" ")
    
null_table(data)

Training Data Frame
ID                     0
name                   4
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64

The name of project and the ID do not affect a project final results (successful or not successful). 
In addition, the currency should be taken out of data becasue the pledges were provided in USD.

Drop name and project ID.

In [10]:
data.drop(labels = ["ID","name"], axis = 1, inplace = True)

And double check the data and see the null_table

In [11]:
null_table(data)

Training Data Frame
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64

As it is observed in the **usd_pledged** there are about 4K null/nan rows. Lets drop those rows that missed.

In [12]:
data = data[np.isfinite(data['usd pledged'])]
print(null_table(data))

Training Data Frame
category            0
main_category       0
currency            0
deadline            0
goal                0
launched            0
pledged             0
state               0
backers             0
country             0
usd pledged         0
usd_pledged_real    0
usd_goal_real       0
dtype: int64

None

### EDA
---

Let's calculate the number of days for each project as a new feather and add it to the data.

In [13]:
data.head()

,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

Subtract columns **launched** and **deadline** to find out how much time was available for each project. Lets call the new column **number of days**. 

First, convert date string to datetime with a proper format string. Make two new columns and make sure the number of days format is an integer by making a decision.

In [14]:
launched = pd.DataFrame({'NumOfDays':pd.to_datetime(data['launched'], format='%Y-%m-%d')})
deadline = pd.DataFrame({'NumOfDays':pd.to_datetime(data['deadline'], format='%Y-%m-%d')})

Add number of days column to data as follow.

In [15]:
data['NumOfDays'] = (deadline - launched) / np.timedelta64(1, 'D')  
data.head()

,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,NumOfDays
0,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95,58.491343
1,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00,59.802813
2,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00,44.985532
3,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00,29.858206
4,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00,55.642326

Drop columns including **launched** and **dedline** and **currency**.

In [16]:
data.drop(labels = ["deadline","launched","currency"], axis = 1, inplace = True)

In [17]:
data.head()

,category,main_category,goal,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,NumOfDays
0,Poetry,Publishing,1000.0,0.0,failed,0,GB,0.0,0.0,1533.95,58.491343
1,Narrative Film,Film & Video,30000.0,2421.0,failed,15,US,100.0,2421.0,30000.00,59.802813
2,Narrative Film,Film & Video,45000.0,220.0,failed,3,US,220.0,220.0,45000.00,44.985532
3,Music,Music,5000.0,1.0,failed,1,US,1.0,1.0,5000.00,29.858206
4,Film & Video,Film & Video,19500.0,1283.0,canceled,14,US,1283.0,1283.0,19500.00,55.642326

### Turn categorical values to numerical
---

In [18]:
data_obj = data.select_dtypes(include=['object']).copy()
data_obj.head()

         category main_category     state country
0          Poetry    Publishing    failed      GB
1  Narrative Film  Film & Video    failed      US
2  Narrative Film  Film & Video    failed      US
3           Music         Music    failed      US
4    Film & Video  Film & Video  canceled      US

Check out the frequency distribution of categories within the data_obj.

In [19]:
for col in data_obj.columns:
    print('Number of {} is = '.format(col), data_obj[col].value_counts().count())

Number of category is =  159
Number of main_category is =  15
Number of state is =  5
Number of country is =  22

Replace the objects with numerical values.

In [20]:
for col in data_obj.columns:

    labels = data_obj[col].astype('category').cat.categories.tolist()
    replace_map_comp1 = {col : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
    data_obj.replace(replace_map_comp1, inplace=True)

See the new object table with generated numerical values.

In [21]:
data_obj.head()

   category  main_category  state  country
0       109             13      2       10
1        94              7      2       22
2        94              7      2       22
3        91             11      2       22
4        56              7      1       22

Replace the numerical values with the categorical columns within the data set.

In [22]:
for col in data_obj.columns:
    data[col] = data_obj[col]
data.head()

,category,main_category,goal,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,NumOfDays
0,109,13,1000.0,0.0,2,0,10,0.0,0.0,1533.95,58.491343
1,94,7,30000.0,2421.0,2,15,22,100.0,2421.0,30000.00,59.802813
2,94,7,45000.0,220.0,2,3,22,220.0,220.0,45000.00,44.985532
3,91,11,5000.0,1.0,2,1,22,1.0,1.0,5000.00,29.858206
4,56,7,19500.0,1283.0,1,14,22,1283.0,1283.0,19500.00,55.642326

Lets see the data using seaborn and check out the distributions.

In [23]:
# sns.set()
# columns = data.columns
# sns.pairplot(data[columns],size = 2 ,kind ='scatter',diag_kind='kde',hue="state")
# plt.show()

### Transform the data

As is seen in the above plot, there are seven parameters that need to transform. I need to break their one column distribution and turn it to more bell-shaped distribution. Such distribution helps the ML algorithm to find the hidden patterns.

For this transformation, we raised the following columns to some powers.
Lets transforming parameters including: goal, backers, pledged, usd pledged, usd_pledged_real, usd_goal_real and NumberOfDats as follow.

In [24]:
data['goal']=data['goal']**(1/20)
data['backers']=data['backers']**(1/10)
data['pledged']=data['pledged']**(1/15)
data['usd pledged']=data['usd pledged']**(1/15)
data['usd_pledged_real']=data['usd_pledged_real']**(1/15)
data['NumOfDays']=data['NumOfDays']**(1/10)
data['usd_goal_real']=data['usd_goal_real']**(1/15)
data.head()

,category,main_category,goal,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,NumOfDays
0,109,13,1.412538,0.000000,2,0.000000,10,0.000000,0.000000,1.630750,1.502136
1,94,7,1.674388,1.681124,2,1.311019,22,1.359356,1.681124,1.988267,1.505470
2,94,7,1.708680,1.432721,2,1.116123,22,1.432721,1.432721,2.042745,1.463212
3,91,11,1.530906,1.000000,2,1.000000,22,1.000000,1.000000,1.764404,1.404450
4,56,7,1.638709,1.611444,1,1.302005,22,1.611444,1.611444,1.931979,1.494654

And check out the distribution plot again.

In [25]:
# sns.set()
# columns = ['goal', 'backers', 'pledged', 'usd pledged', 'usd_pledged_real', 'NumOfDays', 'usd_goal_real', 'state']
# sns.pairplot(data[columns],size = 2 ,kind ='scatter',diag_kind='kde',hue="state")
# plt.show()

### Filtering column "state" with zero and 1 values

The object of this project is to determine Whether a project is successful or not. Therefore the "4" in the column "state" is replaced with 1 and the rest of the values are assigned to zero.

In [26]:
data['state'] = np.where(data['state'] == 4, 1, 0)
data.head()

,category,main_category,goal,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,NumOfDays
0,109,13,1.412538,0.000000,0,0.000000,10,0.000000,0.000000,1.630750,1.502136
1,94,7,1.674388,1.681124,0,1.311019,22,1.359356,1.681124,1.988267,1.505470
2,94,7,1.708680,1.432721,0,1.116123,22,1.432721,1.432721,2.042745,1.463212
3,91,11,1.530906,1.000000,0,1.000000,22,1.000000,1.000000,1.764404,1.404450
4,56,7,1.638709,1.611444,0,1.302005,22,1.611444,1.611444,1.931979,1.494654

Seperate the feather columns from object column ('state') in this project.

In [27]:
state = data['state']

In [28]:
data.drop(labels = ["state"], axis = 1, inplace = True)
data.head()

,category,main_category,goal,pledged,backers,country,usd pledged,usd_pledged_real,usd_goal_real,NumOfDays
0,109,13,1.412538,0.000000,0.000000,10,0.000000,0.000000,1.630750,1.502136
1,94,7,1.674388,1.681124,1.311019,22,1.359356,1.681124,1.988267,1.505470
2,94,7,1.708680,1.432721,1.116123,22,1.432721,1.432721,2.042745,1.463212
3,91,11,1.530906,1.000000,1.000000,22,1.000000,1.000000,1.764404,1.404450
4,56,7,1.638709,1.611444,1.302005,22,1.611444,1.611444,1.931979,1.494654

### Spliting data

In [29]:
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test = train_test_split(data, state, test_size=0.2)
print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

(299891, 10) (299891,)
(74973, 10) (74973,)

### Fiting ML algorithms
---
Importing different classifiers from sklearn. 
Let's try different types of models (ML) to see which one gives the best accuracy for its predictions.

In [31]:
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

### Validation Data Set

In [32]:
from sklearn.model_selection import train_test_split #to create validation data set
X_training, X_valid, y_training, y_valid = train_test_split(X_train, y_train, test_size=0.2, random_state=0) #X_valid and y_valid are the validation sets

Evaluate the model performance using make_scorere and accuracy_score function from sklearn metrics.

In [33]:
from sklearn.metrics import make_scorer, accuracy_score

# KNeighbors Model

In [34]:
knn_clf = KNeighborsClassifier()
knn_clf.fit(X_training, y_training)
pred_knn = knn_clf.predict(X_valid)
acc_knn = accuracy_score(y_valid, pred_knn)
print(acc_knn)

0.9636706180496507

You should always apply some evaluations on the model depend on what you looking for. Depend on your project you may try to reduce FP or FN. Then you may try to tune your ML to achieve your goal (tuning effective paramters). To zoom on Fraudulent transaction recognization, optimize the sensitivity. To get email spam optimze your model to achive the high precision or specificity. and so on...

In [35]:
from sklearn import metrics

In [36]:
# save confusion matrix and slice into four pieces
confusion = metrics.confusion_matrix(y_valid, pred_knn)
print(confusion)
#[row, column]
TP = confusion[1, 1]
TN = confusion[0, 0]
FP = confusion[0, 1]
FN = confusion[1, 0]

[[37408  1300]
 [  879 20392]]

### Accuracy

In [37]:
#how often is the classifier correct?
# use float to perform true division, not integer division
print((TP + TN) / float(TP + TN + FP + FN))
print(metrics.accuracy_score(y_valid, pred_knn))

0.9636706180496507
0.9636706180496507

### Precision

In [38]:
# Precision: When a positive value is predicted, how often is the prediction correct? Precision = TP/TP+FP
precision = TP / float(TP + FP)
print(precision)
print((TP + TN) / float(TP + TN + FP + FN))

0.9400700719159137
0.9636706180496507

### Sensitivity or Recall

In [39]:
# Sensitivity: When the actual value is positive, how often is the prediction correct?
sensitivity = TP / float(FN + TP)
print(sensitivity)
print((TP + TN) / float(TP + TN + FP + FN))

0.9586761318226693
0.9636706180496507

### F1 score

This score takes both false positives and false negatives into account.
Intuitively it is not as easy to understand as accuracy, but F1 is usually more useful than accuracy, especially if you have an uneven class distribution. Accuracy works best if false positives and false negatives have a similar cost. If the cost of false positives and false negatives are very different, its better to look at both Precision and Recall.

In [40]:
# F1 Score = 2*(sensitivity * Precision) / (sensitivity + Precision)
F1_Score = 2*(sensitivity * precision) / (sensitivity + precision)
print(F1_Score)
print((TP + TN) / float(TP + TN + FP + FN))

0.9492819402741894
0.9636706180496507

In [41]:
# Specificity: When the actual value is negative, how often is the prediction correct?
specificity = TN / (TN + FP)
print(specificity)
print((TP + TN) / float(TP + TN + FP + FN))

0.9664152113258241
0.9636706180496507

In [42]:
# False Positive Rate: When the actual value is negative, how often is the prediction incorrect?
false_positive_rate = FP / float(TN + FP)
print(false_positive_rate)
# and false negative rate
print(1 - specificity)

0.03358478867417588
0.033584788674175914

# RandomForest Model

In [43]:
rf_clf = RandomForestClassifier(n_estimators=50, n_jobs=-1) # increase the number of trees to get better results
rf_model=rf_clf.fit(X_training, y_training)
pred_rf = rf_clf.predict(X_valid)
acc_rf = accuracy_score(y_valid, pred_rf)
print(acc_rf)

0.9947314893546074

In [44]:
print(metrics.confusion_matrix(y_valid, pred_knn))

[[37408  1300]
 [  879 20392]]

Check out what feathers are important in the model.

In [45]:
sorted(zip(rf_model.feature_importances_, X_train.columns), reverse=True)[0:10]

[(0.2256943042212214, 'usd_pledged_real'),
 (0.2114345277625399, 'backers'),
 (0.16851370189752088, 'pledged'),
 (0.14450685829020218, 'usd_goal_real'),
 (0.13314269986970506, 'goal'),
 (0.10190185418854908, 'usd pledged'),
 (0.0068558823842898575, 'NumOfDays'),
 (0.0031240488285976457, 'main_category'),
 (0.0027935841736400034, 'category'),
 (0.0020325383837340896, 'country')]

# LogisiticRegression Model

In [46]:
 logreg_clf = LogisticRegression()
logreg_clf.fit(X_training, y_training)
pred_logreg = logreg_clf.predict(X_valid)
acc_logreg = accuracy_score(y_valid, pred_logreg)
print(acc_logreg)

0.9831941179412794

c:\users\daslab hareland 3\appdata\local\programs\python\python36\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [47]:
print(metrics.confusion_matrix(y_valid, pred_logreg))

[[37795   913]
 [   95 21176]]

# DecisionTree Model

In [48]:
dt_clf = DecisionTreeClassifier()
dt_clf.fit(X_training, y_training)
pred_dt = dt_clf.predict(X_valid)
acc_dt = accuracy_score(y_valid, pred_dt)
print(acc_dt)

0.9903966388235883

In [49]:
print(metrics.confusion_matrix(y_valid, pred_dt))

[[38423   285]
 [  291 20980]]

In [72]:
# !pip install --upgrade scikit-learn==0.20.3 --user

In [71]:
# !pip install pydotplus

In [73]:
# !pip install GraphViz

In [70]:
!conda install graphviz

'conda' is not recognized as an internal or external command,
operable program or batch file.

In [64]:
pwd

'C:\\Users\\DASLAB Hareland 3\\data science notebook project\\codes'

In [74]:
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus
import os

os.environ 
dot_data = StringIO()
export_graphviz(dt_clf, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
Image(graph.create_png())

InvocationException: GraphViz's executables not found